<h1>グループ詳細</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">グループ名: <%= @group.group_name %></h5>
    <p><strong>作成者:</strong> <%= @group.user.name %></p>
    <p><strong>作成日:</strong> <%= @group.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    <%= link_to '戻る', admin_groups_path, class: 'btn btn-secondary' %>
  </div>
</div>
